@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
    var x = "personal";
}
<h1>@ViewData["Title"]</h1>
<h3>@Model.Message</h3>

<p>Use this page to detail your @x @Html.Raw(Model.Greeting) site's privacy policy.</p>
